# ==============================
# Node
# ==============================
node_modules/
npm-debug.log*
package-lock.json

# ==============================
# Build
# ==============================
dist/
build/
.next/
out/
coverage/

# ==============================
# Environment variables
# ==============================
.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VSCode
# ==============================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ==============================
# Dev Containers
# ==============================
.devcontainer/docker-compose.override.yml

# ==============================
# Docker
# ============================
